@font-face {
  font-family: "Roboto Mono";
  src: url("../assets/fonts/RobotoMono-Regular.eot");
  src: local("Roboto Mono"), local("RobotoMono-Regular"),
    url("../assets/fonts/RobotoMono-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../assets/fonts/RobotoMono-Regular.woff") format("woff"),
    url("../assets/fonts/RobotoMono-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
